In [23]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://david:barkley07@dkingpc/re',echo=False)
saved_listings = pd.read_sql_query('SELECT * FROM har_listings_test',engine)
saved_listings.shape

(3846, 5)

In [24]:
dir = "/home/collier/Dropbox/Skills/Python/Projects/Real_Estate/htx_real_estate_analysis/"
saved_details = pd.read_csv(dir+"HAR_details170721.csv",encoding='iso-8859-1')
# import json
# import pymongo
# from pymongo import MongoClient
# import subprocess
# subprocess.Popen('C:/Program Files/MongoDB/Server/3.4/bin/mongod.exe')
# client = MongoClient()
# db = client.db_har_test
# collection = db.collection_har_test
# db.home_details_test.count()
# saved_details = pd.DataFrame(list(db.home_details_test.find()))
# saved_details.shape

In [38]:
pd.set_option('display.max_columns', 500)
# saved_details.head()

In [25]:
#Convert the record date to datetime format
saved_listings['Sys_Date'] = pd.to_datetime(saved_listings['Sys_Date'])
#Sort dF by page link and date
saved_listings.sort_values(['Page_Link','Sys_Date'],inplace=True)

In [26]:
# remove any duplicate rows
saved_listings.drop_duplicates(keep='last',inplace=True)

In [27]:
#subset for sold listings
sold_listings = saved_listings[saved_listings['Price_Change']=="off_market"]
sold_listings = saved_listings[saved_listings['Page_Link'].isin(sold_listings['Page_Link'])]
sold_listings.shape

(2257, 5)

In [28]:
# drop any duplicate 'off market' records & keep last with accurate final sales price
sold_listings.drop_duplicates(subset=['Page_Link','Page_Address','Price_Change','Sys_Date'],keep="last",inplace=True)
sold_listings.shape

/usr/local/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(2066, 5)

In [29]:
# group by listing, find first and last dates, first and last prices
sold_summary = pd.DataFrame(sold_listings.groupby('Page_Link').agg({'Sys_Date':['first','last','size'],
                                       'Price':['first','last']}))
#rename columns
sold_summary.columns = ['Start_Price','End_Price','Start_Dt','End_Dt','Record_Count']

In [30]:
#define column types
sold_summary['Start_Price'] = sold_summary['Start_Price'].astype(int)
sold_summary['End_Price'] = sold_summary['End_Price'].astype(int)
sold_summary['Start_Dt'] = pd.to_datetime(sold_summary['Start_Dt'])
sold_summary['End_Dt'] = pd.to_datetime(sold_summary['End_Dt'])

sold_summary['Price_Change'] = sold_summary['End_Price'] - sold_summary['Start_Price']
sold_summary['Price_Change_Pct'] = sold_summary['Price_Change']/sold_summary['Start_Price']
sold_summary['Time_Change'] = (sold_summary['End_Dt'] - sold_summary['Start_Dt'])/np.timedelta64(1, 'D')
sold_summary['Page_Link'] = sold_summary.index

In [31]:
pd.set_option('display.max_columns', 500)
# saved_details.head()

In [32]:
# remove any rows with duplicate or missing page_links
saved_details.drop_duplicates(subset="Page_Link",keep='last',inplace=True)
saved_details.dropna(subset=['Page_Link'], inplace=True)
saved_details.shape

(2116, 143)

In [33]:
# join sold listing DF with home features DF
all_details = pd.merge(sold_summary,saved_details,
                       how="inner",on="Page_Link")

In [34]:
# Find columns without any missing values
column_null_counts = pd.DataFrame(all_details.isnull().sum(axis=0))
# complete_columns = column_null_counts[column_null_counts[0]==0]

In [35]:
# subset combined DF for columns with no missing data
# all_details = all_details[complete_columns.index]
# all_details.shape

In [40]:
all_details.shape

(915, 151)

In [41]:
all_details.describe(include = 'all')

,Start_Price,End_Price,Start_Dt,End_Dt,Record_Count,Price_Change,Price_Change_Pct,Time_Change,Page_Link,Unnamed: 0,1 Bdr,1st Bed,2 Bdr,2nd Bed,3 Bdr,3rd Bed,4th Bed,5th Bed,Access,Address,Appliances,Area Pool,Average Baths,Average Bedrooms,Average Lease,Average LeaseSquare Ft,Average List Price,Average Price,Average PriceSquare Ft,Average Rent,Average Square Ft,Average Year Built,Bath,Baths,Bedroom,Bedrooms,Breakfast,Building Sqft,Carport Description,City,Compactor,Connection,Controlled Access,Cooling,Countertop,County,County Zip Code,Den,Dining,Dishwasher,Disposal,Energy Feature,Exterior,Exterior Type,Extra Room,Family Room,Finance Avail,Fireplace,Floors,Foreclosure,Foundation,Front Door,Game Room,Garage Apartment,Garage Carport,Garages,HOA Mandatory,Heating,Home For Lease,Home For Sales,Homes for Lease,Homes for Sale,Interior,Key Map,Kitchen,Legal Description,List Type,Listing Price,Listing Status,Living,Loft,Lot Description,Lot Size,MLS,Maint Fee Includes,Maintenance Fee,Market Area,Market Area Name,Market Value,Master Bath Description,Media Room,Median Appraised Value,Median Appraised Value Square ft,Median Lot Square Ft,Median Price Square ft,Median Square Ft,Median Year Built,Microwave,MultiFamily Description,Name,Neighborhood,Neighborhood Value Range,New Construction,Other Fees,Oven,Parking,Parking Space,Parking Unit,Price Range,Price_Reduced,Private Pool,Private Pool Desc,Property Type,QuartersGuest House,Range,Roof,Room Description,Single Family Properties,State,Status,Stories,StudyLibrary,Style,Subdivision,Subdivision Name,Tax Rate,Taxes wo Exemp,Unit No,Unit1 Bed,Unit1 Kitchen,Unit1 Living,Unit2 Bed1,Unit2 Bed2,Unit2 Kitchen,Unit2 Living,Unit3 Bed1,Unit3 Bed2,Unit3 Bed3,Unit3 Kitchen,Unit3 Living,Utility Room Desc,Utility Room Dim,WasherDryer Conn,Water Amenity,Water Sewer,Year Built,Zip Code,_id,author,null,text
count,915.000000,915.000000,915,915,915.000000,915.000000,915.000000,915.000000,915,915.000000,8.000000,863,6.000000,856,5.000000,724,64,3,212,915,168,595,915.000000,915.000000,219,219,219,0.0,219,0.0,219,0.0,0.0,893,0.0,893,136,908,78,915,636,531,28,915,637,915,696.000000,93,650,800,777,712,627,907,50,38,728,202,795,2,892,412,67,28,373,746,678,915,219.000000,219.000000,0.0,0.0,644,759,694,915,915,915.000000,915,704,10,791,816,915,129,915,915,219,0.0,708,3,696,161,696,535,696,696.000000,801,4,0.0,0.0,696,4,915,749,138,14,8,0.0,915.000000,893,14,915,14,794,915,694,696,915,0.0,915,66,892,915,696,668.000000,617,67,4,2,1,4,3,1,3,4,3,3,2,2,524,137,167,2,893,913,915.000000,915,0.0,0.0,0.0
unique,NaN,NaN,45,46,NaN,NaN,NaN,NaN,915,NaN,NaN,195,NaN,129,NaN,125,40,3,9,876,43,2,NaN,NaN,48,29,51,0.0,50,0.0,48,NaN,0.0,12,0.0,9,66,679,3,2,2,7,5,12,81,2,NaN,75,191,2,2,282,290,57,46,35,40,14,58,1,12,6,49,1,41,20,2,15,NaN,NaN,NaN,NaN,306,88,205,843,3,NaN,1,239,1,38,454,904,41,161,16,12,0.0,31,3,206,1,145,91,184,NaN,2,2,0.0,0.0,207,2,108,17,15,5,3,0.0,NaN,2,8,3,1,12,10,265,126,1,NaN,5,42,23,488,207,NaN,550,26,4,2,1,4,3,1,3,4,3,3,2,2,7,69,1,2,8,105,NaN,915,0.0,0.0,0.0
top,NaN,NaN,2017-06-04 00:00:00,2017-06-06 00:00:00,NaN,NaN,NaN,NaN,http://www.har.com/765-grove/sale_61824176,NaN,NaN,14x13,NaN,12x11,NaN,12x11,12x11,12x12,Driveway Gate,155 Deerfield St,"Electric Dryer Connection, Gas Dryer Connectio...",No,NaN,NaN,"$1,706",$1.45,"$318,211",NaN,$214.57,NaN,"1,695",NaN,NaN,3 Full & 1Half Bath(s),NaN,3 Bedroom(s),10x8,"1,446134(m²) /Builder",Attached Carport,Houston,No,"Electric Dryer Connections, Gas Dryer Connecti...",Driveway Gate,Central Electric,Granite,Harris County,NaN,14x12,12x11,Yes,Yes,Ceiling Fans,Back Yard Fenced,"Cement Board, Stucco",8x8,17x19,"Cash Sale, Conventional",1 / Gaslog Fireplace,"Tile, Wood, Carpet",Yes,Slab,North,16x16,Yes,Auto Garage Door Opener,2 / Attached,No,Central Gas,NaN,NaN,NaN,NaN,"Breakfast Bar, High Ceiling, Island Kitchen, P...",492G,14x11,Lot 2 Block 1,Exclusive Right to Sell/Lease,NaN,For Sale,17x11,Yes,Subdivision Lot,"5,000 Sqft.465(m²) /Appraisal District",69163516 (HAR),Other,No/$0,Heights/Greater Heights,Heights/Greater Heights,NaN,"Double Sinks, Master Bath + Separate Shower",16X15,"$363,000",$0.00,"5,000",$170.68,"2,283",NaN,Yes,Split Plan,NaN,NaN,$194 - $486 K,Unfinished - Under Construction,No/$0,Electric Oven,Auto Garage Door Opener,Auto Garage Door Opener,Two,NaN,NaN,No,In Ground,Single Family,Yes,Gas Range,Composition,1 Living Area,"1,149",TX,NaN,3,12x10,Traditional,Houston Heights View subdivision price trend,COTTAGE GROVE,NaN,"$10,114/2016",A,10x10,16x10,21x13,10x10,10x10,11x12,10x10,10x10,10x10,10x10,11x12,12x12,Utility Rm in House,9x7,Yes,Bayou View,"Public Sewer, Public Water",2017 / Builder,NaN,5952f95fe2bac80fa0f105ba,NaN,NaN,NaN
freq,NaN,NaN,637,68,NaN,NaN,NaN,NaN,1,NaN,NaN,29,NaN,68,NaN,55,6,1,83,2,35,536,NaN,NaN,37,44,37,NaN,37,NaN,37,NaN,NaN,357,NaN,647,7,6,37,914,625,303,13,686,350,912,NaN,4,24,750,732,131,30,144,3,3,254,117,298,2,631,115,4,28,124,581,521,586,NaN,NaN,NaN,NaN,37,56,20,3,804,NaN,915,15,10,330,73,2,20,555,277,49,NaN,197,1,55,161,122,55,55,NaN,701,2,NaN,NaN,55,3,716,273,74,8,5,NaN,NaN,879,4,678,14,411,854,53,55,915,NaN,363,8,476,35,55,NaN,5,13,1,1,1,1,1,1,1,1,1,1,1,1,238,9,167,1,787,155,NaN,1,NaN,NaN,NaN
first,NaN,NaN,2017-06-04 00:00:00,2017-06-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2017-07-20 00:00:00,2017-07-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,379668.528962,376979.366120,NaN,NaN,2.255738,-2689.162842,-0.006983,19.084153,NaN,1019.496175,4.000000,NaN,1.333333,NaN,1.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.309104,2.851639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77010.563218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.547945,424.497717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379717.709290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964.290230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.537496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77009.644809,NaN,NaN,NaN,NaN
std,94327.554620,93804.623665,NaN,NaN,0.472617,6881.858247,0.018315,13.743052,NaN,601.095079,2.878492,NaN,0.516398,NaN,0.894427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.617448,0.314824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.584869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.869943,299.140426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94360.580178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.868563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.044859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.105336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.926768,NaN,NaN,NaN,NaN
min,102000.000000,102000.000000,NaN,NaN,2.000000,-60000.000000,-0.196827,0.000000,NaN,7.000000,2.000000,NaN,1.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77003.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.000000,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77003.000000,NaN,NaN,NaN,NaN
25%,325000.000000,324900.000000,NaN,NaN,2.000000,0.000000,0.000000,6.500000,NaN,497.500000,2.000000,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.940000,2.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77007.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.000000,210.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.528560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77007.000000,NaN,NaN,NaN,NaN
50%,385000.000000,385000.000000,NaN,NaN,2.000000,0.000000,0.000000,17.000000,NaN,981.000000,2.500000,NaN,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.250000,2.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.000000,321.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,385000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1951.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.528560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77008.000000,NaN,NaN,NaN,NaN
75%,440000.000000,435000.000000,NaN,NaN,2.000000,0.000000,0.000000,30.000000,NaN,1529.500000,5.000000,NaN,1.750000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.560000,2.990000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77009.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207.000000,427.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.019650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.535160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77009.000000,NaN,NaN,NaN,NaN
max,560000.000000,560000.000000,NaN,NaN,4.000000,10500.000000,0.026316,47.000000,NaN,2259.000000,9.000000,NaN,2.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,7.770000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77429.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.000000,956.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,560000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.990000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.765610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77022.000000,NaN,NaN,NaN,NaN

### Categorical Columns

In [64]:
all_details['Property Type'].value_counts()

Single Family        650
Townhouse / Condo    201
Multi-Family          23
Name: Property Type, dtype: int64

## Data Exploration

### Response Variables

Lets first take a look at our target variables.  These variables will be the subject of our predictions.

In [65]:
import matplotlib.pyplot as plt
% matplotlib inline

In [401]:
# corr_matrix